body{
	background-color: #92cded;
}
.btn{
	padding: 1%;
	color:black;
}
.side-img{
	display: inline-block;
	width: 50%;
	margin-left:2%;
}
.side-img:hover{
	width: 60%;
}
.thank{
	padding-top: 0%;
	display: inline-block;
	width:35%;
}